body {
	font-family: Arial, sans-serif;
}

section {
	background-color: #f7f7f7;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}

h2 {
	color: #333;
}

a {
	text-decoration: none;
	color: #337ab7;
}

a:hover {
	color: #23527c;
}